<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>


    <h4>example-1</h4>
    <p>Vue works by associating an HTML tag to a Vue instance. Most examples use the id of the tag to identify the tag
        that will be Vue-instantiated</p>

    <div id="example-1">
        {{ message }}
    </div>



    <script type="text/javascript" src="./example-1.js"></script>








    <br><br>

    <h4>example-2</h4>
    <p>Key concept: the outerHTML is the template if you use `new Vue()` <br> Otherwise you want to use
        `Vue.component()` with a customized HTML tag name</p>

    <p>Vue can also evaluate JavaScript expression within HTML template that is part of the Vue-instantiated object </p>

    <div id="example-2">
        <span>{{ ok ? printThisIfOk : 'not ok' }}</span>
    </div>
    <script type="text/javascript" src="./example-2.js"></script>









    <br><br>

    <h4>example-3</h4>
    <p>So far we have learned to pass a JavaScript literal object with properties el, and data as the sole argument to
        instantiate a Vue instance.</p>

    <p>There's also computed property that acts like a getter</p>

    <div id="example-3">
        <p>Message = {{ message }}</p>
        <p>Message in uppercase = {{ all_uppercase }}</p>
    </div>
    <script type="text/javascript" src="./example-3.js"></script>


    <br><br>
    <h4>example-4</h4>

    <p>Getter and Setter specification that lies inside computed property</p>


    <div id="example-4">

        <p>From `data` property: firstName = {{ firstName }}</p>
        <p>From `data` property: lastName = {{ lastName }}</p>
        <p>From getter inside `computed` property: fullName = {{ fullName }}</p>


    </div>
    <script src="./example-4.js" type="text/javascript"></script>

















    <br><br>
    <h4>example-5</h4>

    <p>v-bind is a directive that is attached to the HTML tag's attribute</p>

    <p>Read <a href="https://vuejs.org/v2/guide/class-and-style.html">this</a></p>

    <div id="example-5">
        <p v-bind:class="someClass">The class of the enveloping p tag is using v-bind</p>

        <p></p>
    </div>
    <script src="./example-5.js" type="text/javascript"></script>












    <br><br>
    <h4>example-6</h4>

    <p>Use v-for directive for dealing with iterable objects in the associated Vue instance</p>

    <p>v-for is another Vue directive. It's attached to an HTML tag that will be printed repetitively. So intuitively,
        the JavaScript model object backing it can be an Array </p>

    <div id="example-6">
        <p>
            <ol>
                <li v-for="person in persons">{{ person }}</li>
            </ol>
        </p>

        <p> JavaScript model object backing it can also be an Array of JS objects</p>

        <p>
            <ol>
                <li v-for="member in team">{{ member.name }}</li>
            </ol>
        </p>

        <p>We can also access the (value, key) pairs of an object</p>

        <p>
            <ol>
                <li v-for="member in team">
                    <span v-for="(value, key) in member">key={{ key }} value={{ value }} <br></span>
                </li>
            </ol>
        </p>


    </div>
    <script type="text/javascript" src="./example-6.js"></script>







    <br><br>

    <h4>example-7</h4>
    <p></p>

    <div id="example-7">
        <p>v-model is a directive that works on input-receiving HTML tags. So, tags such as `input`, `select`,
            `textarea`
            that usually lie within a `form` tag</p>

        <p>We also look at `methods` property that accepts an object literal whose properties are functions that can
            modify the object backing the Vue-instantiated </p>

        <p>Do not forget to use `.prevent` modifier to modify the `v-on:submit` directive. Because normally, the submit
            button within a form, upon clicking, will lead to another URL. We are not POST-ing the form in this example
        </p>

        <form v-on:submit.prevent="addNewMember">
            <input id="new-member-input" type="text" v-model="newMemberName">
            <button>Submit?</button>
        </form>

        <p>This is the list of members available. The list is contained in `memberNames`, which is a property of the
            object associated with `data` property of the Vue instance</p>

        <ul>
            <li v-for="name in memberNames">{{ name }}</li>
        </ul>

    </div>

    <script src="./example-7.js" type="text/javascript"></script>




    <br><br>

    <h4>example-8</h4>

    <p>In example-7, we see that we can keep submitting a new name, that will populate `memberNames` array. Can we find
        a way to remove each name by adding a remove button next to each entry</p>

    <p>The answer is by using `Vue.component`. The following is the template for the `Vue.component` that will be
        somewhere within the Vue instance </p>

    <p>Learned: v-bind:key is needed in order for Vue to identify each node within the list of nodes (components)
        generated by Vue. See <a href="https://vuejs.org/v2/guide/list.html#key">here</a></p>

    <template id="member-name-entry">
        <li> {{ name }} <button v-on:click="$emit('remove-name-entry')">Remove this name entry</button> <button
                v-on:click="$emit('echo-something')">Echo something!</button> </li>
    </template>

    <div id="example-8">
        <form v-on:submit.prevent="addNewMember">
            <input id="new-member-input" type="text" v-model="newMemberName">
            <button>Submit?</button>
        </form>

        <ul>
            <li is="member-name-entry" v-for="(nameObj, indx) in keyedMemberNames" v-bind:name="nameObj.name"
                v-bind:key="nameObj.id" v-on:remove-name-entry="removeNameEntry(indx)"
                v-on:echo-something="echoSomething"></li>
        </ul>

        <p>The listing without buttons</p>

        <ul>
            <li v-for="nameObj in keyedMemberNames"> {{ nameObj.name }} </li>
        </ul>



    </div>

    <script type="text/javascript" src="./example-8.js"></script>


































    <br><br>

    <h4>example-9</h4>
    <p>Difference between `computed`, `watch`, and `methods`</p>

    <script type="text/javascript" src="./example-9.js"></script>

</body>

</html>